body {
  background-color: #f0eff1;
}

.App {
  width: 100vw;
  height: 100vh;
  max-width: 1320px;
  max-height: 690px;
  min-width: 300px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 700px;
  margin: 0 auto;
}

.balance {
  background-color: white;
  width: 50%;
  height: 25%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.balance h1 {
  width: 100%;
  height: 30%;
  background-color: #f0eff1;
  padding: 0px;
  margin: 0px;
}

.balance h3 {
  text-align: center;
  width: 50%;
}

.balance-icon {
  color: #63c6c4;
  font-size: 14px;
  padding-left: 10px;
}

.actions {
  width: 25%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px;
}

.actions h3 {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.actions button {
  width: 25%;
  height: 8%;
  background-color: white;
  border-color: #63c6c4;
  border-width: 2px;
  border-radius: 5px;
}

.actions input {
  width: 65%;
  height: 8%;
}
.radio-group {
  display: flex;
  flex-wrap: wrap;
}

.spending-insights {
  width: 15%;
  height:80%;
  background-color: white;
}

.spending-insights h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.spending-insights ul {
  padding: 0px;
  margin: 0px;
}

.spending-insights li {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.spending-insights span {
  display: flex;
}

.fa-icon {
  padding-right: 10px;
  font-size: 20px;
  color: #63c6c4;
}

.expenseChart {
  background-color: white;
  width: 50%;
  height: 60%;
  position: relative;
  top: -50%;
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expenseChart h3 {
  width: 100%;
  height: 25%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-categories {
  width: 25%;
  height: 20%;
  background-color: white;
  position: relative;
  top: -25%;
  text-align: center;
  min-height: 200px;
}

.top-categories ul {
  padding: 0px;
  margin: 0px;
}

.top-categories li {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-top: 20px;
}

.top-icon {
  padding-right: 5px;
  font-size: 21px;
  color: #63c6c4;
}